[submodule "BEATS_tomoscan"]
	path = BEATS_tomoscan
	url = git@github.com:SESAME-Synchrotron/BEATS_tomoscan.git
[submodule "BEATS_Dashboard"]
	path = BEATS_Dashboard
	url = git@github.com:SESAME-Synchrotron/BEATS_Dashboard.git
[submodule "tomopy"]
	path = tomopy
	url = git@github.com:SESAME-Synchrotron/tomopy.git
[submodule "BEATSH5Writer"]
	path = BEATSH5Writer
	url = git@github.com:SESAME-Synchrotron/BEATSH5Writer.git
[submodule "BEATS_DAQ_Supp_IOC"]
	path = BEATS_DAQ_Supp_IOC
	url = git@github.com:SESAME-Synchrotron/BEATS_DAQ_Supp_IOC.git
[submodule "RPTrigServ"]
	path = RPTrigServ
	url = git@github.com:SESAME-Synchrotron/RPTrigServ.git
[submodule "BEATS_recon"]
	path = BEATS_recon
	url = git@github.com:SESAME-Synchrotron/BEATS_recon.git
[submodule "TomoscanSupportIOCs"]
	path = TomoscanSupportIOCs
	url = git@github.com:SESAME-Synchrotron/TomoscanSupportIOCs.git
